swagger: '2.0'
info:
  title: Delphi Select
  version: '2.2.5.4'
  description: >
    Delphi Select is a restful web Application Programming Interface (API) that
    allows access to the Experian Consumer Bureau and associated products and
    services through directed consumer targeting. It sits behind the OKTA
    service which provides authentication by user, business unit  or reseller
    and allows access to the developer portal test environment, directly
    simulating the live production environment.

    A call to Delphi Select can be one of the following types:

    - <b>Creating a Consumer Application</b>
      Delphi Select is predominantly used to target an applicant (Single Application) or group of applicants (Joint Application) based on name, address and date of birth information. This information is passed to Delphi Select to allow it to perform an Experian Bureau Search. As part of the application process a number of different products can be requested to support multiple business flows; this is configurable using the input API. However, the availability of various products is subject to the system account settings. A client must have the required permissions to access each product.

    - <b>Reprocessing a Consumer Application</b>
      Allows for an existing application to be retargeted on the Experian Credit Bureau in cases where application details have been incorrectly entered or new information has been obtained. Any Reprocessed Applications will always retarget the Experian Credit Bureau and write an appropriate footprint (set by the client). Delphi Score processing will de-duplicate any Credit Search Footprints (CAPS), if they occur within a three-day period of each other. All Credit Search Footprints (CAPS) are recorded for audit purposes. A Reprocess should not be used for a stand-alone Affordability call.

    - <b>Performing a Second Phase Call</b>
      Allows for additional products to be requested as part of an application using only the Experian Unique Reference Number and the appropriate control input values. Predominantly used by businesses to gather additional product data at various stages of an application without having to re-enter the applicant(s) details. For example, the system owner may wish to perform an initial credit assessment and then want to Identity Authenticate those applicants that are credit accepts; Delphi Select provides this functionality, through a Consumer Application followed by a Second Phase call for Identity Authenticate via use of the Consumer Application Experian Unique Reference Number and the appropriate control input values.

    - <b>Performing a Quotation to Full</b>
      Delphi Select allows for input requests to be processed as quotations using a quotation search type on the input call. These quotation calls allow a lender to leave a soft footprint on the Experian Bureau. A Quote To Full call is required when the customer chooses to make an application or credit, based on the quotation / eligibility response. Converting the quotation application into a full application will place a hard footprint search type on the Experian Bureau.

    - <b>Retrieving a Previous Application</b>
      Allows for the retrieval of a previously submitted Consumer Application including the results of the individual products requested. This call type must contain the original Consumer Application Experian Application Reference as the unique identifier to allow Delphi Select to retrieve the relevant application.

    - <b>Receive Data</b>
      Once an input request has been received, Delphi Select will process the request for the required products and return an output API response that contains a Unique Experian Application Reference and the results of the search.

    - <b>Metrics</b>
      The API response will provide metrics on the transaction start time and end time. Please note that the values displayed are not representative of the values that will be returned in the live environment.
host: sandbox-uk-api.experian.com
schemes:
  - https
basePath: /risk/consumer/v2
securityDefinitions:
  OauthSecurity:
    type: oauth2
    flow: password
    tokenUrl: 'https://sandbox-uk-api.experian.com/oauth2/v1/token'
    scopes:
      admin: admin scope
      user: user scope
parameters:
  experianreferenceparam:
    in: path
    name: experianreference
    type: string
    required: true
    description: Numeric Experian Reference to get
paths:
  /dataselect/application:
    post:
      summary: New application request
      tags:
        - Consumer Data
      description: >
        Delphi Select is predominantly used to target an applicant (Single
        Application) or group of applicants (Joint Application) based on name,
        address and date of birth information. This information is passed to
        Delphi Select to allow it to perform an Experian Bureau Search. As part
        of the application process a number of different products can be
        requested to support multiple business flows; this is configurable using
        the input API. However, the availability of various products is subject
        to the system account settings. A client must have the required
        permissions to access each product.
      operationId: Application
      security:
        - OauthSecurity:
            - user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - required: true
          type: string
          name: Accept
          in: header
          description: Format expected for the request.
          enum:
            - application/json
        - required: true
          type: string
          name: Content-Type
          in: header
          description: Format expected for the response.
          enum:
            - application/json
        - required: true
          in: body
          name: body
          description: DelphiSelect input object required.
          schema:
            $ref: '#/definitions/Input'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Output'
        '400':
          description: Bad request due to incorrect input
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '401':
          description: Unauthorized error
          schema:
            $ref: '#/definitions/ErrorResponseApiGee'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponseApiDet'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponseApi'
  '/dataselect/application/{experianreference}':
    get:
      summary: Get application request
      tags:
        - Consumer Data
      description: >
        Allows for the retrieval of a previously submitted Consumer Application
        including the results of the individual products requested. This call
        type must contain the original Consumer Application Experian Application
        Reference as the unique identifier to allow Delphi Select to retrieve
        the relevant application.
      operationId: GetApplication
      security:
        - OauthSecurity:
            - user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - required: true
          type: string
          name: Accept
          in: header
          description: Format expected for the request.
          enum:
            - application/json
        - required: true
          type: string
          name: Content-Type
          in: header
          description: Format expected for the response.
          enum:
            - application/json
        - $ref: '#/parameters/experianreferenceparam'
        - in: query
          name: clientaccnum
          description: Account number of the client
          required: false
          type: string
          default: A1234
        - in: query
          name: fullfblrequired
          description: >-
            Controls the return of the Full Bureau Link data, linked to all
            supplied applicants that have been searched
          required: false
          type: boolean
          default: true
        - in: query
          name: displayconsumer
          description: Controls displaying Consumer data
          required: false
          type: boolean
          default: true
        - in: query
          name: displayauthenticate
          description: Controls displaying ID Authenticate data
          required: false
          type: boolean
          default: false
        - in: query
          name: displaydetect
          description: Controls displaying Detect data
          required: false
          type: boolean
          default: false
        - in: query
          name: displayaddress
          description: Controls displaying address data
          required: false
          type: boolean
          default: false
        - in: query
          name: displaycasehistory
          description: Controls displaying case history data
          required: false
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Output'
        '400':
          description: Bad request due to incorrect input
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '401':
          description: Unauthorized error
          schema:
            $ref: '#/definitions/ErrorResponseApiGee'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponseApiDet'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponseApi'
  '/dataselect/application/{experianreference}/reprocess':
    put:
      summary: Reprocess application request
      tags:
        - Consumer Data
      description: >
        Allows for an existing application to be retargeted on the Experian
        Credit Bureau in case application details have been incorrectly entered
        or new information has been obtained. Providing the original Experian
        Application Reference and the amended consumers details (including any
        new applicants) will enable re-targeting of the Experian Bureau and
        retrieval of the appropriate data. If a Reprocess is performed on the
        same business day, then only a single hard Credit Search Footprint will
        be recorded. If, however, a Reprocess is performed on any subsequent
        days then an additional new hard Credit Search Footprint will be
        recorded against the Consumer's credit file.
      operationId: reProcessPut
      security:
        - OauthSecurity:
            - user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - required: true
          type: string
          name: Accept
          in: header
          description: Format expected for the request.
          enum:
            - application/json
        - required: true
          type: string
          name: Content-Type
          in: header
          description: Format expected for the response.
          enum:
            - application/json
        - $ref: '#/parameters/experianreferenceparam'
        - required: true
          in: body
          name: body
          description: DelphiSelect input object required.
          schema:
            $ref: '#/definitions/Input'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Output'
        '400':
          description: Bad request due to incorrect input
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '401':
          description: Unauthorized error
          schema:
            $ref: '#/definitions/ErrorResponseApiGee'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponseApiDet'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponseApi'
  '/dataselect/application/{experianreference}/quotetofull':
    put:
      summary: Quotation convert to full request
      tags:
        - Consumer Data
      description: >
        Delphi Select allows for input requests to be processed as quotations
        using a quotation search type on the input call. These quotation calls
        allow a lender to leave a soft footprint search type on the Experian
        Bureau. A Quote To Full call is required when the customer chooses to
        make an application or credit, based on the quotation / eligibility
        response. Converting the quotation application into a full application
        will place a hard footprint search type on the Experian Bureau.
      operationId: quoteToFullPut
      security:
        - OauthSecurity:
            - user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - required: true
          type: string
          name: Accept
          in: header
          description: Format expected for the request.
          enum:
            - application/json
        - required: true
          type: string
          name: Content-Type
          in: header
          description: Format expected for the response.
          enum:
            - application/json
        - $ref: '#/parameters/experianreferenceparam'
        - required: false
          in: body
          name: body
          description: DelphiSelect input object required.
          schema:
            $ref: '#/definitions/InputQuoteToFull'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OutputConvertToFull'
        '400':
          description: Bad request due to incorrect input
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '401':
          description: Unauthorized error
          schema:
            $ref: '#/definitions/ErrorResponseApiGee'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponseApiDet'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponseApi'
  '/dataselect/application/{experianreference}/secondphaseauthenticate':
    put:
      summary: Second phase authenticate request
      tags:
        - Consumer Data
      description: |
        Request to make a Second phase authenticate call.
      operationId: secondPhaseAuthenticatePut
      security:
        - OauthSecurity:
            - user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - required: true
          type: string
          name: Accept
          in: header
          description: Format expected for the request.
          enum:
            - application/json
        - required: true
          type: string
          name: Content-Type
          in: header
          description: Format expected for the response.
          enum:
            - application/json
        - $ref: '#/parameters/experianreferenceparam'
        - required: false
          in: body
          name: body
          description: DelphiSelect input object required.
          schema:
            $ref: '#/definitions/InputSimplified'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OutputSecondPhaseAuthenticate'
        '400':
          description: Bad request due to incorrect input
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '401':
          description: Unauthorized error
          schema:
            $ref: '#/definitions/ErrorResponseApiGee'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponseApiDet'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponseApi'
  '/dataselect/application/{experianreference}/secondphasedetect':
    put:
      summary: Second phase detect request
      tags:
        - Consumer Data
      description: |
        Request to make a Second Phase Detect call.
      operationId: secondPhaseDetectPut
      security:
        - OauthSecurity:
            - user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - required: true
          type: string
          name: Accept
          in: header
          description: Format expected for the request.
          enum:
            - application/json
        - required: true
          type: string
          name: Content-Type
          in: header
          description: Format expected for the response.
          enum:
            - application/json
        - $ref: '#/parameters/experianreferenceparam'
        - required: false
          in: body
          name: body
          description: DelphiSelect second phase detect input object required.
          schema:
            $ref: '#/definitions/InputSecondPhaseDetect'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OutputSecondPhaseDetect'
        '400':
          description: Bad request due to incorrect input
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '401':
          description: Unauthorized error
          schema:
            $ref: '#/definitions/ErrorResponseApiGee'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponseApiDet'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponseApi'
  /dataselect/submission/authenticate:
    post:
      summary: Authentication only request
      tags:
        - Consumer Data
      description: |
        Request to get ID Authenticate data only for submission.
      operationId: submissionsAuthenticatePost
      security:
        - OauthSecurity:
            - user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - required: true
          type: string
          name: Accept
          in: header
          description: Format expected for the request.
          enum:
            - application/json
        - required: true
          type: string
          name: Content-Type
          in: header
          description: Format expected for the response.
          enum:
            - application/json
        - in: body
          name: body
          description: DelphiSelect input object required.
          required: true
          schema:
            $ref: '#/definitions/InputAuthOnly'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OutputAuthOnly'
        '400':
          description: Bad request due to incorrect input
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '401':
          description: Unauthorized error
          schema:
            $ref: '#/definitions/ErrorResponseApiGee'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponseApiDet'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponseApi'
  /dataselect/submission/detect:
    post:
      summary: Detect only request
      tags:
        - Consumer Data
      description: |
        Request to get Detect data only for submission.
      operationId: submissionsDetectPost
      security:
        - OauthSecurity:
            - user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - required: true
          type: string
          name: Accept
          in: header
          description: Format expected for the request.
          enum:
            - application/json
        - required: true
          type: string
          name: Content-Type
          in: header
          description: Format expected for the response.
          enum:
            - application/json
        - in: body
          name: body
          description: DelphiSelect input object required.
          required: true
          schema:
            $ref: '#/definitions/InputDetectOnly'
      responses:
        '200':
          description: Successful
          schema:
            $ref: '#/definitions/OutputDetectOnly'
        '400':
          description: Bad request due to incorrect input
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '401':
          description: Unauthorized error
          schema:
            $ref: '#/definitions/ErrorResponseApiGee'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponseApiDet'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponseApi'
  /dataselect/submission/affordability:
    post:
      summary: Affordability only request
      tags:
        - Consumer Data
      description: >
        Provides information to support the ability to pay back a debt. This is
        different from a customers' historical propensity to re-pay their debts.
        Experian's Affordability solutions are designed to inform clients if
        their customers may be becoming over-indebted.

        The first submitted applicant will be the main applicant and only the
        main applicant and the Joint applicant income will be taken into
        consideration in the Affordability calculations.
      operationId: submissionsAffordabilityPost
      security:
        - OauthSecurity:
            - user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - required: true
          type: string
          name: Accept
          in: header
          description: Format expected for the request.
          enum:
            - application/json
        - required: true
          type: string
          name: Content-Type
          in: header
          description: Format expected for the response.
          enum:
            - application/json
        - in: body
          name: body
          description: DelphiSelect input object required.
          required: true
          schema:
            $ref: '#/definitions/InputAffordabilityOnly'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OutputAffordabilityOnly'
        '400':
          description: Bad request due to incorrect input
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '401':
          description: Unauthorized error
          schema:
            $ref: '#/definitions/ErrorResponseApiGee'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponseApiDet'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponseApi'
  /dataselect/submission/expinscv:
    post:
      summary: ExPinSCV only request
      tags:
        - Consumer Data
      description: >
        Enables the retrieval of an existing ExPin from the Experian UK ExPin
        Database where a match is found based on the supply of a name, address
        and date of birth. Only the Main Applicant's ExPin is retrieved.
        Only one applicant with one address can be supplied.
      operationId: submissionsExPinSCVPost
      security:
        - OauthSecurity:
            - user
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - required: true
          type: string
          name: Accept
          in: header
          description: Format expected for the request.
          enum:
            - application/json
        - required: true
          type: string
          name: Content-Type
          in: header
          description: Format expected for the response.
          enum:
            - application/json
        - in: body
          name: body
          description: DelphiSelect input object required.
          required: true
          schema:
            $ref: '#/definitions/InputExPINOnly'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OutputExPINOnly'
        '400':
          description: Bad request due to incorrect input
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '401':
          description: Unauthorized error
          schema:
            $ref: '#/definitions/ErrorResponseApiGee'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseApi'
        '404':
          description: Not found
          schema:
            $ref: '#/definitions/ErrorResponseApiDet'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResponseApi'
definitions:
  AccountBalance:
    type: array
    minItems: 0
    maxItems: 999
    items:
      type: object
      properties:
        AccountBalance:
          type: string
          minLength: 0
          maxLength: 7
          description: |
            Account Balance. Populated with '-999998' if unknown
        Status:
          type: string
          minLength: 0
          maxLength: 1
          description: |
            Current Status of Account.
            Can be one of the following values:
              * 0  Satisfactory
              * 1 Month Delinquent
              * 2 Months Delinquent
              * 3 Months Delinquent
              * 4 Months Delinquent
              * 5 Months Delinquent
              * 6 Months Delinquent
              * 8 Default
              * 9 Bad Debt
              * S Slow Payer
              * U Unclassified
              * D Dormant
              * ? Unknown Status
  AdditDelphiBlocks:
    type: object
    properties:
      APACSCCBehavrlData:
        $ref: '#/definitions/APACSCCBehavrlData'
      Utilisationblock:
        $ref: '#/definitions/Utilisationblock'
      NeverPaidDefsBlock:
        $ref: '#/definitions/NeverPaidDefsBlock'
      TelecommsBlock:
        $ref: '#/definitions/TelecommsBlock'
      BespokeBlock:
        $ref: '#/definitions/BespokeBlock'
      HomeCreditBlock:
        $ref: '#/definitions/HomeCreditBlock'
      TrendedData:
        $ref: '#/definitions/TrendedDataBlock'
      EstimatedDisposableIncomeRAG:
        $ref: '#/definitions/EstimatedDisposableIncomeRAG'
      HighCostCredit:
        $ref: '#/definitions/HighCostCreditBlock'
  AdditDelphiBlocksAffordability:
    type: object
    properties:
      Utilisationblock:
        $ref: '#/definitions/Utilisationblock'
      EstimatedDisposableIncomeRAG:
        $ref: '#/definitions/EstimatedDisposableIncomeRAG'
  AdditionalData:
    type: object
    properties:
      DrivingLicenceNumber:
        type: string
        minLength: 0
        maxLength: 16
        pattern: '^.{0,16}$'
      VehicleRegistration:
        type: string
        minLength: 0
        maxLength: 8
        pattern: '^.{0,30}$'
      PlaceOfBirth:
        type: string
        minLength: 0
        maxLength: 80
        pattern: '^.{0,80}$'
      MothersMaidenName:
        type: string
        minLength: 0
        maxLength: 80
        pattern: '^.{0,80}$'
      BirthSurname:
        type: string
        minLength: 0
        maxLength: 80
        pattern: '^.{0,80}$'
  AffordabilityIQ:
    type: object
    properties:
      MainApplicantNMI:
        type: integer
        format: int32
        minimum: -999999
        maximum: 9999999
        description: Main Applicant Supplied - Net Monthly Income in GBP
      JointApplicantNMI:
        type: integer
        format: int32
        minimum: -999999
        maximum: 9999999
        description: Joint Applicant Supplied - Net Monthly Income in GBP
  AffordabilityIQ2:
    type: object
    properties:
      MinimumIncomeNMIValue:
        type: integer
        format: int32
        minimum: -99999999
        maximum: 999999999
        description: Minimum Income NMI Value  
  AffordabilityIQ2Response:
    type: object
    properties:
      MinimumIncome:
        $ref: '#/definitions/MinimumIncome'
      DTI2:
        $ref: '#/definitions/DTI2'
      IncomeShock2:
        $ref: '#/definitions/IncomeShock2'
      IncomeStability2:
        $ref: '#/definitions/IncomeStability2'
      EDIRAG2:
        $ref: '#/definitions/EDIRAG2'
      ExpenditurePlusHousing:
        $ref: '#/definitions/ExpenditurePlusHousing'
      ExpenditurePlusCouncilTax:
        $ref: '#/definitions/ExpenditurePlusCouncilTax'
      ExpenditurePlusEnergy:
        $ref: '#/definitions/ExpenditurePlusEnergy'
      ExpenditurePlusEDI:
        $ref: '#/definitions/ExpenditurePlusEDI'
      ExpenditurePlusHouseholdComposition:
        $ref: '#/definitions/ExpenditurePlusHouseholdComposition'
  AffordabilityIQResponse:
    type: object
    properties:
      AFFV01:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Main Applicant Income Verification Index / CATO Warning Indicator - Estimate L12M
        
          Only populated if Gold level Income Estimation and Verification
          package is requested.  Income Verification Index based on the Main
          Applicant Supplied Income and Main Applicant CATO Income Estimate.
          
          
            Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Main Applicant CATO Warning Indicator (Silver)

          Only populated if Silver level Income Estimation and Verification
          package is requested.  CATO Warning Indicator based on the Main
          Applicant Supplied Income and Main Applicant CATO Income Estimate.
          
          
          Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
          Main Applicant CATO Warning Indicator (Bronze)
            
            Only populated if Bronze package and relevant Income Estimate is requested.
              CATO Warning Indicator based on the Main Applicant Bureau
              Income Model and Main Applicant CATO Income Estimate.
              
              
              Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
           
      AFFV02:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Family Economic Unit Income Verification / CATO Warning Indicator - Estimate L12M
        
          Only populated if Gold package and Relevant Income Estimate is requested.
          Income Verification Index based on the Family Economic Unit 
          Supplied Income and Family Economic Unit CATO Income 
          Estimate
          
          
            Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Family Economic Unit CATO Warning Indicator – Estimate (Silver)
          
          Only populated if Silver package and Relevant Income Estimate is 
          requested.
          CATO Warning Indicator based on the Family Economic Unit 
           Supplied Income and Family Economic Unit CATO Income 
           Estimate.
          
          
          Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
          Family Economic Unit CATO Warning Indicator – Estimate (Bronze)
          
          Only populated if Bronze package and Relevant Income Estimate 
          is requested.
          CATO Warning Indicator based on the Preferred Family Economic 
          Unit Income Estimate and Family Economic Unit CATO Income 
          Estimate.
              
              
              Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV03:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Main Applicant Income Verification / CATO Warning Indicator – Estimate L6M
        
          Only populated if Gold level Income Estimation and Verification
          package is requested.  Income Verification Index based on the Main
          Applicant Supplied Income and Main Applicant CATO Income Estimate limited to the 
          last 6 months CATO data.

          
            Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Main Applicant CATO Warning Indicator (Silver)

          Only populated if Silver level Income Estimation and Verification
          package is requested.  CATO Warning Indicator based on the Main
          Applicant Supplied Income and Main Applicant CATO Income Estimate  limited to the 
            last 6 months CATO data.

          
          Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
          Main Applicant CATO Warning Indicator (Bronze)
            
            Only populated if Bronze package and relevant Income Estimate is requested.
              CATO Warning Indicator based on the Main Applicant Bureau
              Income Model and Main Applicant CATO Income Estimate  limited to the 
              last 6 months CATO data.

              
              Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV04:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Family Economic Unit Income Verification / CATO Warning Indicator – Estimate L6M
        
          Only populated if Gold package and Relevant Income Estimate is requested.
          Income Verification Index based on the Family Economic Unit 
          Supplied Income and Family Economic Unit CATO Income 
          Estimate limited to the last 6 months CATO data.
          
          
            Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Family Economic Unit CATO Warning Indicator – Estimate (Silver)
          
          Only populated if Silver package and Relevant Income Estimate is 
          requested.
          CATO Warning Indicator based on the Family Economic Unit 
           Supplied Income and Family Economic Unit CATO Income 
           Estimate limited to the last 6 months CATO data.
          
          
          Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
          Family Economic Unit CATO Warning Indicator – Estimate (Bronze)
          
          Only populated if Bronze package and Relevant Income Estimate 
          is requested.
          CATO Warning Indicator based on the Preferred Family Economic 
          Unit Income Estimate and Family Economic Unit CATO Income 
          Estimate limited to the last 6 months CATO data.
              
              
              Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV05:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Main Applicant Income Verification / CATO Warning Indicator – Estimate L3M
        
        
          Only populated if Gold level Income Estimation and Verification
          package is requested.  Income Verification Index based on the Main
          Applicant Supplied Income and Main Applicant CATO Income Estimate limited to the 
          last 3 months CATO data.
          
          
            Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Main Applicant CATO Warning Indicator (Silver))

          Only populated if Silver level Income Estimation and Verification
          package is requested.  CATO Warning Indicator based on the Main
          Applicant Supplied Income and Main Applicant CATO Income Estimate limited to the 
          last 3 months CATO data.
          
          
          Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
          Main Applicant CATO Warning Indicator (Bronze)
            
            Only populated if Bronze package and relevant Income Estimate is requested.
              CATO Warning Indicator based on the Main Applicant Bureau
              Income Model and Main Applicant CATO Income Estimate limited to the 
             last 3 months CATO data.
              
              Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV06:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Family Economic Unit Income Verification / CATO Warning Indicator – Estimate L3M
        
          Only populated if Gold package and Relevant Income Estimate is requested.
          Income Verification Index based on the Family Economic Unit 
          Supplied Income and Family Economic Unit CATO Income 
          Estimate limited to the last 3 months CATO data.
          
          
            Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Family Economic Unit CATO Warning Indicator – Estimate (Silver)
          
          Only populated if Silver package and Relevant Income Estimate is 
          requested.
          CATO Warning Indicator based on the Family Economic Unit 
           Supplied Income and Family Economic Unit CATO Income 
           Estimate limited to the last 3 months CATO data.
          
          
          Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
          Family Economic Unit CATO Warning Indicator – Estimate(Bronze)
          
          Only populated if Bronze package and Relevant Income Estimate 
          is requested.
          CATO Warning Indicator based on the Preferred Family Economic 
          Unit Income Estimate and Family Economic Unit CATO Income 
          Estimate limited to the last 3 months CATO data.
              
              
              Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV07:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Main Applicant Income Verification / CATO Warning Indicator – Total Turnover
        
          Only populated if Gold package and Relevant Income Estimate is 
          requested.
          Income Verification Index based on the Main Applicant Supplied 
          Income and Total Turnover across all the Main Applicant's CATO 
          accounts
          
          
          Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Main Applicant Income CATO Warning Indicator – Total Turnover (Silver)
          
          Only populated if Silver package and Relevant Income Estimate is 
          requested.
          CATO Warning Indicator based on the Main Applicant Supplied 
           Income and Total Turnover across all the Main Applicant's CATO 
           accounts
           
           
           Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
           Main Applicant Income CATO Warning Indicator – Total Turnover (Bronze)
           
           Only populated if Bronze package and Relevant Income Estimate 
           is requested.
          CATO Warning Indicator based on the Main Applicant Bureau 
          Income Model and Total Turnover across all the Main Applicant's 
           CATO accounts.
           
           
           Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
        
      AFFV08:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Family Economic Unit Income Verification / CATO Warning Indicator - Total Turnover
        
          Only populated if Gold package and Relevant Income Estimate is 
          requested.
          Income Verification Index based on the Family Economic Unit 
          Supplied Income and Total Turnover across all the Main Applicant 
          and Joint Applicant's CATO accounts.
          
          
          Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Family Economic Unit CATO Warning Indicator – Total Turnover (Silver)
          
          Only populated if Silver package and Relevant Income Estimate is 
           requested.
           CATO Warning Indicator based on the Family Economic Unit 
             Supplied Income and Total Turnover across all the Main Applicant 
            and Joint Applicant's CATO accounts.
           
           
           Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
           Family Economic Unit CATO Warning Indicator – Total Turnover (Bronze)
           
            Only populated if Bronze package and Relevant Income Estimate 
            is requested.
            CATO Warning Indicator based on the Preferred Family Economic 
            Unit Income Estimate and Total Turnover across all the Main 
            Applicant and Joint Applicant or financial associate's CATO 
            accounts.
           
           
           Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV09:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Main Applicant Income Verification / CATO Warning Indicator - Total Turnover (Sole Accounts Only)
        
          Only populated if Gold package and Relevant Income Estimate is 
          requested.
          Income Verification Index based on the Main Applicant Supplied 
          Income and Total Turnover across all the Main Applicant's solely 
           held CATO accounts.

          
          Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Main Applicant Income CATO Warning Indicator – Total Turnover (Silver)
          
          Only populated if Silver package and Relevant Income Estimate is 
          requested.
          CATO Warning Indicator based on the Main Applicant Supplied 
           Income and Total Turnover across all the Main Applicant's solely 
            held CATO accounts.

           
           Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
           Main Applicant Income CATO Warning Indicator – Total Turnover (Bronze)
           
           Only populated if Bronze package and Relevant Income Estimate 
           is requested.
          CATO Warning Indicator based on the Main Applicant Bureau 
          Income Model and Total Turnover across all the Main Applicant's 
           CATO accounts.

           
           Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV10:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Family Economic Unit Income Verification / CATO Warning Indicator - Total Turnover (Sole Accounts Only)
        
          Only populated if Gold package and Relevant Income Estimate is 
          requested.
          Income Verification Index based on the Family Economic Unit 
          Supplied Income and Total Turnover across all the Main Applicant 
          and Joint Applicant's solely 
          held CATO accounts.
 
          
          Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Family Economic Unit CATO Warning Indicator – Total Turnover (Silver)
          
          Only populated if Silver package and Relevant Income Estimate is 
           requested.
           CATO Warning Indicator based on the Family Economic Unit 
             Supplied Income and Total Turnover across all the Main Applicant 
            and Joint Applicant's solely 
            held CATO accounts.

           
           Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
           Family Economic Unit CATO Warning Indicator – Total Turnover (Bronze)
           
            Only populated if Bronze package and Relevant Income Estimate 
            is requested.
            CATO Warning Indicator based on the Preferred Family Economic 
            Unit Income Estimate and Total Turnover across all the Main 
            Applicant and Joint Applicant or financial associate's solely 
            held CATO accounts.

           
           Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV11:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Main Applicant Income Verification / CATO Warning Indicator - Last Month Turnover
        
          Only populated if Gold package and Relevant Income Estimate is 
          requested.
          Income Verification Index based on the Main Applicant Supplied 
          Income and the last month's turnover across all the Main 
          Applicant's CATO accounts.
          
          
          Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Main Applicant Income CATO Warning Indicator – Last Month's Turnover (Silver)
          
          Only populated if Silver package and Relevant Income Estimate is 
          requested.
          CATO Warning Indicator based on the Main Applicant Supplied 
          Income and the last month's turnover across all the Main 
          Applicant's CATO accounts.
           
           
           Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
           Main Applicant Income CATO Warning Indicator – Last Month's Turnover (Bronze)
          
          Only populated if Bronze package and Relevant Income Estimate 
           is requested.
          CATO Warning Indicator based on the Main Applicant Bureau 
          Income Model and the last month's turnover across all the Main 
           Applicant's CATO accounts.
           
           
           Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV12:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Family Economic Unit Income Verification / CATO Warning Indicator - Last Month Turnover
        
          Family Economic Unit Income Verification – Total Turnover
          Only populated if Gold package and Relevant Income Estimate is 
          requested.
          Income Verification Index based on the Family Economic Unit 
          Supplied Income and the last month's turnover across all the Main 
          Applicant and Joint Applicant's CATO accounts.
          
          
          Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Family Economic Unit CATO Warning Indicator – Total Turnover (Silver)

           Only populated if Silver package and Relevant Income Estimate is
           requested.
           CATO Warning Indicator based on the Family Economic Unit 
            Supplied Income and the last month's turnover across all the Main 
            Applicant and Joint Applicant's CATO accounts.
           
           
           Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
           Family Economic Unit CATO Warning Indicator – Total  Turnover (Bronze)
           
           Only populated if Bronze package and Relevant Income Estimate 
           is requested.
           CATO Warning Indicator based on the Preferred Family Economic 
            Unit Income Estimate and the last month's turnover across all the 
           Main Applicant and Joint Applicant or financial associate's CATO 
            accounts
           
           
           Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV13:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Main Applicant Income Verification / CATO Warning Indicator - Last Month Turnover (Sole Accounts Only)
        
         Only populated if Gold package and Relevant Income Estimate is 
         requested.
         Income Verification Index based on the Main Applicant Supplied 
          Income and the last month's turnover across all the Main 
          Applicant's solely held CATO accounts.
          
          
          Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Main Applicant Income CATO Warning Indicator – Last  Month's Turnover (Sole Accounts) (Silver)
          
           Only populated if Silver package and Relevant Income Estimate is 
           requested.
           CATO Warning Indicator based on the Main Applicant Supplied 
            Income and the last month's turnover across all the Main 
             Applicant's solely held CATO accounts.
           
           
           Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
           Main Applicant Income CATO Warning Indicator – Last Month's Turnover (Sole Accounts) (Bronze)

           Only populated if Bronze package and Relevant Income Estimate 
            is requested.
           CATO Warning Indicator based on the Main Applicant Bureau 
           Income Model and the last month's turnover across all the Main 
            Applicant's solely held CATO accounts.
           
           
           Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV14:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Family Economic Unit Income Verification / CATO Warning Indicator - Last Month Turnover (Sole Accounts Only)
        
            Only populated if Gold package and Relevant Income Estimate is 
         requested.
         Income Verification Index based on the Family Economic Unit 
         Supplied Income and the last month's turnover across all the Main 
          Applicant and Joint Applicant's solely held CATO accounts.
          
          
          Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Family Economic Unit CATO Warning Indicator – Last Month's Turnover (Sole Accounts) (Silver)
          
          Only populated if Silver package and Relevant Income Estimate is 
            requested.
           CATO Warning Indicator based on the Family Economic Unit 
           Supplied Income and the last month's turnover across all the Main 
            Applicant and Joint Applicant's solely held CATO accounts.

           
           Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
           Family Economic Unit CATO Warning Indicator – Last  Month's Turnover (Sole Accounts) (Bronze)
           
           Only populated if Bronze package and Relevant Income Estimate 
             is requested.
            CATO Warning Indicator based on the Preferred Family Economic 
             Unit Income Estimate and the last month's turnover across all the 
               Main Applicant and Joint Applicant or financial associate's solely 
              held CATO accounts.
           
           
           Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV15:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Main Applicant Income Verification / CATO Warning Indicator - Last Three Month's Turnover
        
            Only populated if Gold package and Relevant Income Estimate is 
         requested.
         Income Verification Index based on the Main Applicant Supplied 
          Income and the last three month's turnover across all the Main 
          Applicant's CATO accounts.
          
          
          Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Main Applicant Income CATO Warning Indicator – Last Three Month's Turnover (Silver)
          
          Only populated if Silver package and Relevant Income Estimate is 
           requested.
          CATO Warning Indicator based on the Main Applicant Supplied 
          Income and the last three month's turnover across all the Main 
          Applicant's CATO accounts.
           
           
           Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
           Main Applicant Income CATO Warning Indicator – Last Three Month's Turnover (Bronze)
            
            Only populated if Bronze package and Relevant Income Estimate 
             is requested.
            CATO Warning Indicator based on the Main Applicant Bureau 
            Income Model and the last three month's turnover across all the 
            Main Applicant's CATO accounts.
           
           
           Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV16:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Family Economic Unit Income Verification / CATO Warning Indicator - Last Three Month's Turnover
        
           Only populated if Gold package and Relevant Income Estimate is 
         requested.
         Income Verification Index based on the Family Economic Unit 
         Supplied Income and the last three month's turnover across all the 
           Main Applicant and Joint Applicant's CATO accounts.
          
          
          Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Family Economic Unit CATO Warning Indicator – Last Three Month's Turnover (Silver)
          
          Only populated if Silver package and Relevant Income Estimate is 
            requested.
           CATO Warning Indicator based on the Family Economic Unit 
           Supplied Income and the last three month's turnover across all the 
              Main Applicant and Joint Applicant's CATO accounts.

           
           Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
           Family Economic Unit CATO Warning Indicator – Last Three Month's Turnover (Bronze)
           
           Only populated if Bronze package and Relevant Income Estimate 
           is requested.
           CATO Warning Indicator based on the Preferred Family Economic 
            Unit Income Estimate and the last three month's turnover across 
           all the Main Applicant and Joint Applicant or financial associate's 
           CATO accounts.
           
           
           Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV17:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Main Applicant Income Verification / CATO Warning Indicator - Last Three Month's Turnover (Sole Accounts Only)
        
           Only populated if Gold package and Relevant Income Estimate is 
         requested.
         Income Verification Index based on the Main Applicant Supplied 
          Income and the last month's turnover across all the Main 
          Applicant's solely held CATO accounts.
          
          
          Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Main Applicant Income CATO Warning Indicator – Last Three 
          Month's Turnover (Sole Accounts) (Silver)
          
          
         Only populated if Silver package and Relevant Income Estimate is 
          requested.
         CATO Warning Indicator based on the Main Applicant Supplied 
          Income and the last three month's turnover across all the Main 
                    Applicant's solely held CATO accounts.
           
           
           Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
           Main Applicant Income CATO Warning Indicator – Last Three  Month's Turnover (Sole Accounts) (Bronze)

           Only populated if Bronze package and Relevant Income Estimate 
            is requested.
           CATO Warning Indicator based on the Main Applicant Bureau 
           Income Model and the last three month's turnover across all the 
            Main Applicant's solely held CATO accounts.
           
           
           Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV18:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Family Economic Unit Income Verification / CATO Warning Indicator - Last Three Month's Turnover (Sole Accounts Only)
        
            Only populated if Gold package and Relevant Income Estimate is 
         requested.
         Income Verification Index based on the Family Economic Unit 
         Supplied Income and the last three month's turnover across all the 
          Main Applicant and Joint Applicant's solely held CATO accounts.          
          
          Possible values are
            
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            *  0  Supplied Income as a % Income Estimate >= 201%
            
            * 10 181% <= Supplied Income as a % Income Estimate <= 200%
            
            * 20 171% <= Supplied Income as a % Income Estimate <= 180%
            
            * 30 161% <= Supplied Income as a % Income Estimate <= 170%
            
            * 40 151% <= Supplied Income as a % Income Estimate <= 160%
            
            * 50 141% <= Supplied Income as a % Income Estimate <= 150%
            
            * 60 131% <= Supplied Income as a % Income Estimate <= 140%
            
            * 70 121% <= Supplied Income as a % Income Estimate <= 130%
            
            * 80 111% <= Supplied Income as a % Income Estimate <= 120%
            
            * 90 91% <= Supplied Income as a % Income Estimate <= 110%
            
            * 99 Supplied Income as a % Income Estimate <= 90%
            
          
          Family Economic Unit CATO Warning Indicator – Last Three Month's Turnover (Sole Accounts) (Silver)
             
            Only populated if Silver package and Relevant Income Estimate is
             requested.
             CATO Warning Indicator based on the Family Economic Unit 
              Supplied Income and the last three month's turnover across all the 
             Main Applicant and Joint Applicant's solely held CATO accounts.

           
           Possible values are
          
            * -5 Missing or Invalid Supplied Income
            
            * -3 Insufficient data to verify income
            
            * -2 No CATO data found
            
            * -1 No Trace
            
            * 1 Supplied Income as a % Income Estimate > "CATO Warning Flag – Upper 
              Boundary"%
              
            * 2 "CATO Warning Flag – Upper Boundary"% <= Supplied Income as a % 
              Income Estimate <= "CATO Warning Flag – Lower Boundary"%
              
            * 3 Supplied Income as a % Income Estimate <= "CATO Warning Flag – Lower 
             Boundary"%
            
          
           Family Economic Unit CATO Warning Indicator – Last Three Month's Turnover (Sole Accounts) (Bronze)
            
           Only populated if Bronze package and Relevant Income Estimate 
           is requested.
           CATO Warning Indicator based on the Preferred Family Economic 
           Unit Income Estimate and the last three month's turnover across 
           all the Main Applicant and Joint Applicant or financial associate's 
           solely held CATO accounts.
           
           
           Possible values are
              
              * -3 Insufficient data to verify income
              
              * -2 No CATO data found 
              
              * -1 No Trace 
              
              * 1 Preferred Income as a % CATO Income Estimate >= 151%
              
              * 2 150% <= Preferred Income as a % CATO Income Estimate <= 111%
              
              * 3 Preferred Income as a % CATO Income Estimate <= 110%
      AFFV19:
        type: integer
        format: int32
        minimum: -5
        maximum: 99
        description: Main Applicant Income Verification / CATO Warning Indicator – Maximum Turnover Every Month
        
          Only populated if Gold package and Relevant Income Estimate is 
         requested.
         Income Verification Index based on the Main Applicant Supplied 
[...]
